@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-grey: var(--grey);
  --color-grey-100: var(--grey-100);
  --color-grey-300: var(--grey-300);
  --color-grey-900: var(--grey-900);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-light: var(--destructive-light);
  --color-destructive-shadow: var(--destructive-shadow);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-shade-100: var(--primary-shade-100);
  --color-primary-shade-200: var(--primary-shade-200);
  --color-primary-shade-300: var(--primary-shade-300);
  --color-primary-shade-400: var(--primary-shade-400);
  --color-primary-shade-500: var(--primary-shade-500);
  --color-primary-shade-600: var(--primary-shade-600);
  --color-primary-shade-700: var(--primary-shade-700);
  --color-primary-shade-800: var(--primary-shade-800);
  --color-primary-shade-900: var(--primary-shade-900);
  --color-primary: var(--primary);
  --color-primary-tint-100: var(--primary-tint-100);
  --color-primary-tint-200: var(--primary-tint-200);
  --color-primary-tint-300: var(--primary-tint-300);
  --color-primary-tint-400: var(--primary-tint-400);
  --color-primary-tint-500: var(--primary-tint-500);
  --color-primary-tint-600: var(--primary-tint-600);
  --color-primary-tint-700: var(--primary-tint-700);
  --color-primary-tint-800: var(--primary-tint-800);
  --color-primary-tint-900: var(--primary-tint-900);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Fonte */
  --font-inter: var(--inter);
}

@theme {  
  /* Breakpoints */
  --breakpoint-4xs: 16rem; /* 256px */ 
  --breakpoint-3xs: 18rem; /* 288px */
  --breakpoint-2xs: 20rem; /* 320px */
  --breakpoint-xs: 30rem; /* 480px */
  --breakpoint-mlg: 56.25rem; /* 900px */
  --breakpoing-xlg: 64rem; /* 1024px */
  --breakpoint-2xl: 100rem; /* 1600px */
  --breakpoint-3xl: 120rem; /* 1920px */
}

:root {
  --radius: 0.625rem;
  --background: #0A0A0A;
  --foreground: #A3A3A3;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --grey: #515151;
  --grey-100: #171717;
  --grey-300: #373737;
  --grey-900: #F5F5F5;
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-shade-100: #f2ebf6;
  --primary-shade-200: #e5d6ee;
  --primary-shade-300: #d8c2e5;
  --primary-shade-400: #cbaddd;
  --primary-shade-500: #bf99d4;
  --primary-shade-600: #b285cb;
  --primary-shade-700: #a570c3;
  --primary-shade-800: #985cba;
  --primary-shade-900: #8b47b2;
  --primary: #7E33A9;
  --primary-tint-100: #712e98;
  --primary-tint-200: #652987;
  --primary-tint-300: #582476;
  --primary-tint-400: #4c1f65;
  --primary-tint-500: #3f1a55;
  --primary-tint-600: #321444;
  --primary-tint-700: #260f33;
  --primary-tint-800: #190a22;
  --primary-tint-900: #0d0511;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: #FFDB99;
  --secondary-foreground: oklch(0.205 0 0);
  --muted: #8A8A8A;
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: #800501;
  --destructive-light: #CB1A14;
  --destructive-shadow: #220504;
  --border: #262626;
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* Fonts */
  --inter: "Inter", sans-serif;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    font-family: "Urbanist", sans-serif;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .form-group {
    @apply flex flex-col gap-y-1.5;
  }

  .form-label {
    @apply text-sm font-medium text-muted;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }
}

@layer components {
  .react-loading-skeleton {
    --base-color: #2d2c2caf !important;
    --highlight-color: #1a1414d1 !important;
    --animation-duration: 1.5s !important;
    --animation-direction: normal;
    --pseudo-element-display: block;
    background-color: var(--base-color);
    width: 100%;
    border-radius: 0.3rem;
    display: inline-flex;
    line-height: 1;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    overflow: hidden;
  } 

  /* Hide scrollbar for Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none
  }
  
  .app-container {
    @apply bg-gradient-to-b from-grey-100 to-background;
  }

  .app-sidebar {
    @apply flex flex-col gap-y-8 h-full rounded-4xl px-6 pt-8 pb-6;
  }

  .dapp-container {
    @apply w-11/12 mx-auto py-3.5;
  }

  .card-container {
    @apply w-56 space-y-4 p-3 hover:bg-grey-100/75 backdrop-blur-lg transition-colors duration-300 hover:cursor-pointer rounded-xl;
  }

  .wallet-board-container {
    @apply h-80 bg-grey-100/90 rounded-lg;
  }

  .wallet-board-title {
    @apply text-[19px] font-semibold text-white;
  }
}

.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 50%;
  
}
.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

button[data-slot="dropdown-menu-trigger"]:focus-visible {
  outline: none !important;
}
